Repository xxpniu/consul: changes, and which Codecov flags are due for each by the changed paths.
All: api, sdk, ui

coverage: restore CircleCI path fixes
  codecov.yml
Due: none

config: refactor to consolidate all File->Source loading
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/config.go
  agent/config/runtime_test.go
Due: none

config: remove Args field from Flags
  agent/config/builder.go
  agent/config/flags.go
  agent/config/flags_test.go
  agent/config/runtime_test.go
  command/agent/agent.go
  command/agent/agent_test.go
Due: none

config: warn when a config file is skipped
  agent/config/builder.go
  agent/config/builder_test.go
  agent/config/runtime_test.go
  command/services/config.go
  command/services/deregister/deregister.go
  command/services/register/register.go
  command/validate/validate.go
Due: none

config: rename Flags to BuilderOpts
  agent/config/agent_limits_test.go
  agent/config/builder.go
  agent/config/default.go
  agent/config/flags.go
  agent/config/flags_test.go
  agent/config/runtime_test.go
  agent/testagent.go
  command/agent/agent.go
  command/services/config.go
  command/services/config_test.go
  command/validate/validate.go
Due: none

config: Make ConfigFormat not a pointer
  agent/config/builder.go
  agent/config/flags.go
  command/validate/validate.go
Due: none

testutil: NewLogBuffer - buffer logs until a test fails
  agent/acl_test.go
  agent/ae/ae_test.go
  agent/checks/check.go
  agent/consul/acl_test.go
  agent/consul/client_test.go
  agent/consul/leader_test.go
  agent/consul/server_test.go
  agent/testagent.go
  sdk/testutil/server.go
  sdk/testutil/testlog.go
Due: sdk

Add and use ProxyFor to get the `connected with proxy` boolean
  ui-v2/app/controllers/dc/services/index.js
  ui-v2/app/models/service.js
Due: ui

test: Remove t.Parallel() from agent/structs tests
  agent/structs/acl_cache_test.go
  agent/structs/acl_legacy_test.go
  agent/structs/acl_test.go
  agent/structs/check_definition_test.go
  agent/structs/config_entry_discoverychain_test.go
  agent/structs/config_entry_gateways_test.go
  agent/structs/config_entry_test.go
  agent/structs/intention_test.go
  agent/structs/service_definition_test.go
  agent/structs/structs_filtering_test.go
  agent/structs/structs_test.go
Due: none

config: Replace PatchSliceOfMaps with HookNormalizeHCLNestedBlocks
  agent/config/config.go
  agent/discovery_chain_endpoint.go
  agent/structs/config_entry.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_gateways.go
  agent/structs/connect_proxy_config.go
  agent/xds/config.go
  api/config_entry.go
  api/config_entry_discoverychain.go
  api/config_entry_gateways.go
  command/config/write/config_write.go
  lib/decode/decode.go
  lib/decode/decode_test.go
  lib/patch_hcl.go
  lib/patch_hcl_test.go
Due: api

lib/decode: use struct tags instead of method
  agent/config/config.go
  agent/discovery_chain_endpoint.go
  agent/structs/config_entry.go
  agent/structs/config_entry_discoverychain.go
  agent/structs/config_entry_gateways.go
  agent/structs/connect_proxy_config.go
  agent/xds/config.go
  api/config_entry.go
  api/config_entry_discoverychain.go
  api/config_entry_gateways.go
  lib/decode/decode.go
  lib/decode/decode_test.go
Due: api

Add decode hooks to other parse functions
  agent/xds/config.go
Due: none

Temporarily disable the new behaviour to show tests passing
  lib/decode/decode.go
  lib/decode/decode_test.go
Due: none

test/integration: only run against 1 envoy version
  .circleci/config.yml
  test/integration/connect/envoy/run-tests.sh
Due: none

Remove logic to iterate over test cases, run a single case
  test/integration/connect/envoy/run-tests.sh
Due: none

ui: Renames CopyButtonFeedback to CopyButton and use it everywhere
  ui-v2/app/components/copy-button-feedback/index.hbs
  ui-v2/app/components/copy-button-feedback/index.js
  ui-v2/app/components/copy-button/README.mdx
  ui-v2/app/components/copy-button/index.hbs
  ui-v2/app/components/copy-button/index.js
  ui-v2/app/components/healthcheck-list/index.hbs
  ui-v2/app/styles/base/components/tooltip/layout.scss
  ui-v2/app/styles/base/components/tooltip/skin.scss
  ui-v2/app/styles/components/feedback-dialog.scss
  ui-v2/app/templates/dc/acls/edit.hbs
  ui-v2/app/templates/dc/acls/tokens/edit.hbs
  ui-v2/app/templates/dc/intentions/edit.hbs
  ui-v2/app/templates/dc/nodes/show.hbs
  ui-v2/app/templates/dc/services/instance/proxy.hbs
  ui-v2/tests/integration/components/copy-button-feedback-test.js
Due: ui

ui: refactor out the taglist component to use a recursive pattern
  ui-v2/app/components/consul-service-instance-list/index.hbs
  ui-v2/app/components/consul-service-list/index.hbs
  ui-v2/app/components/tag-list/index.hbs
  ui-v2/app/components/tag-list/index.js
  ui-v2/app/templates/dc/nodes/show/services.hbs
  ui-v2/app/templates/dc/services/index.hbs
  ui-v2/app/templates/dc/services/instance/tags.hbs
  ui-v2/app/templates/dc/services/show/tags.hbs
Due: ui

ui: If an auth-method is in another namespace than default, make that clear
  ui-v2/app/components/oidc-select/index.hbs
Due: ui

Pass through the namespace of the auth method rather than use the current
  ui-v2/app/components/auth-form/index.hbs
Due: ui

Fix up page-navigation test
  ui-v2/tests/acceptance/page-navigation.feature
Due: ui

Upgrade to @hashicorp/consul-api-double@2.14.7
  ui-v2/yarn.lock
Due: ui

Add a golang runner for integration tests
  GNUmakefile
  test/integration/connect/envoy/main_test.go
  test/integration/connect/envoy/run-tests.sh
Due: none

ui: Restrict %secondary-button to only form buttons in the main content
  ui-v2/app/styles/components/buttons.scss
Due: ui

Make sure we refresh the application route, before redirecting
  ui-v2/app/controllers/application.js
Due: ui

Make envoy integration tests a separate module
  .circleci/config.yml
  GNUmakefile
  test/go.mod
  test/integration/connect/envoy/helpers.bash
Due: none

Update FAQ with Compat Matrix information
  website/pages/docs/faq.mdx
  website/pages/docs/install/index.mdx
Due: none

Path conditions:
  api: any of: api/, but not: agent/bindata_assetfs.go, vendor/**/*, **/*.pb.go
  sdk: any of: sdk/, but not: agent/bindata_assetfs.go, vendor/**/*, **/*.pb.go
  ui: any of: ui-v2/, but not: agent/bindata_assetfs.go, vendor/**/*, **/*.pb.go
